<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p><img ></p>

    <form action="/action_page.php">
        <fieldset>
    <legend>Login</legend>
          <label for="fname">Username</label>
          <div><input type="text" id="userInput" placeholder="admin@ojvar.dev"></div>
          
          <label for="lname">Password</label>
          <div><input type="password" id="passInput" placeholder="@ojvar"></div>
          <br/>

          <div><button id="loginId">Login</button> </div>
       </div>
       <div>
        <div>
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
            <p> <a href="">Forget password? </a></p>
          </div>
       </div> 

          <input type="submit" value="creat an account">
        </fieldset>
      </form> 

<div>
  <p id="demo"></p>
    <button onclick="clearInterval(myTimer)">Stop</button>
    
</div>
</body>
<script type="text/javascript" src="../scripts/login.js" ></script>
</html>

